<div class="image">
  <img ...attributes>
</div>

{{!-- In general, it is a good idea to add ...attributes to the primary element in your component. This will allow for maximum flexibility, as the invoker may need to pass along classes for styling or ARIA attributes to improve accessibility. --}}
