<button type="button" class="image {{if this.isLarge "large"}}" {{on "click" this.toggleSize}}>
  <img ...attributes>
   <small>View {{if this.isLarge "Smaller" "Larger"}}</small>
</button>

{{!-- In general, it is a good idea to add ...attributes to the primary element in your component. This will allow for maximum flexibility, as the invoker may need to pass along classes for styling or ARIA attributes to improve accessibility. --}}

{{!-- This is an example of conditionally rendering based on the state held in the component --}}
