<div class="container">
  <NavBar />
  <div class="body">
    {{outlet}}
  </div>
</div>

{{!-- This is a template for the whole application 
The {{outlet}} keyword denotes the place where our site's pages should be rendered into --}}